<div class="container mt-5">
    <h3 class="text-center" id="servico">Serviços</h3>
    <hr class="mb-5">
    <div class="card-deck">
        <div class="card">
            <img src="../../assets/img/icone-autonomia-velocidade.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Autonomia e Velocidade</h5>
                <p class="card-text">Na NeWork, você tem autonomia para filtrar e convidar exatamente os perfis que procura. A qualidade dos candidatos e o atendimento da NeWork garantem um tempo de contratação médio de 16 dias!</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/icone-recomendacoes.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Recomendações</h5>
                <p class="card-text">O time responsável pelas recomendações da NeWork usa toda sua expertise e conceitos de data science para entender as suas demandas e vagas e recomendar os candidatos ideais.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/icone-mais candidatos.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mais Candidatos</h5>
                <p class="card-text">Inserida nas comunidades de desenvolvedores e eventos, a NeWork traz também candidatos que não estão disponíveis em outras plataformas.Todas as semanas novos candidatos ficam acessíveis para você.</p>
            </div>
        </div>
    </div>
</div>