<div class="container mt-5">
    <h3 class="text-center" id="sobre">Sobre a empresa</h3>
    <hr class="mb-5">
  <div class="row">
    <div class="col mr-3 img-sobre">
      <img src="../../assets/img/student-849825_1920.jpg" alt="">
    </div>
    <div class="col">
      <p class="card-text">A NeWork oferece uma solução moderna e que nos dá autonomia para trabalharmos as vagas dentro do nosso modelo de processo seletivo porém automatizando. Etapas que normalmente tomam bastante tempo - triagem, teste prático, check salarial e agendamento de entrevista - podem ser feitas com agilidade e de forma muito simples.</p>
      </div>
  </div>
</div>
<style>
.img-sobre{
  width: 60%;
}
.img-sobre img{
  width: 100%;
  border-radius: 10px;
}
hr{
    width: 40%;
    border: none;
    border: 1px solid orange;
}
</style>