.collor-back{
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0 0 gold, 0 0 1em rgba(0, 0, 0, 0.9);
    height: auto;
}
.content-img{
    background: url("../../assets/img/computer-1245714_1280.jpg") no-repeat;
    background-size: cover;
    height: 15rem;
    box-shadow: inset 0 0 0 gold, 0 0 1em rgba(0, 0, 0, 0.9);
}