<div class="container mt-5">
    <h3 class="text-center" id="vaga">Vagas</h3>
    <hr class="mb-5">
    <form class="form-inline my-2 my-lg-0 justify-content-md-center ">
            <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Buscar Vaga</button>
    </form>
    <div class="row justify-content-around mt-5">
        <div class="card bg-light mb-5" style="width: 22rem;">
            <img src="../../assets/img/network.png" class="card-img-top mt-5 mb-5 shadown" alt="...">
            <div class="card-body">
                <h5 class="card-title">Designer</h5>
                <p class="card-text">Na NeWork, você tem autonomia para filtrar e convidar exatamente os perfis que procura.</p>
                <button type="button" class="btn btn-outline-success">Acesse o Site</button>
            </div>
        </div>
        <div class="card bg-light mb-5" style="width: 22rem;">
            <img src="../../assets/img/network.png" class="card-img-top mt-5 mb-5" alt="...">
            <div class="card-body">
                <h5 class="card-title">Programador FullStack</h5>
                <p class="card-text">Na NeWork, você tem autonomia para filtrar e convidar exatamente os perfis que procura.</p>
                <button type="button" class="btn btn-outline-success">Acesse o Site</button>
            </div>
        </div>
        <div class="card bg-light mb-5" style="width: 22rem;">
            <img src="../../assets/img/network.png" class="card-img-top mt-5 mb-5" alt="...">
            <div class="card-body">
                <h5 class="card-title">Desenvoldor ForntEnd</h5>
                <p class="card-text">Na NeWork, você tem autonomia para filtrar e convidar exatamente os perfis que procura.</p>
                <button type="button" class="btn btn-outline-success">Acesse o Site</button>
            </div>
        </div>
        <div class="card bg-light mb-5" style="width: 22rem;">
            <img src="../../assets/img/network.png" class="card-img-top mt-5 mb-5" alt="...">
            <div class="card-body">
                <h5 class="card-title">Analista de Sistemas</h5>
                <p class="card-text">Na NeWork, você tem autonomia para filtrar e convidar exatamente os perfis que procura.</p>
                <button type="button" class="btn btn-outline-success">Acesse o Site</button>
            </div>
        </div>
        <div class="card bg-light mb-5" style="width: 22rem;">
            <img src="../../assets/img/network.png" class="card-img-top mt-5 mb-5" alt="...">
            <div class="card-body">
                <h5 class="card-title">Desenvolvedor BackEnd</h5>
                <p class="card-text">Na NeWork, você tem autonomia para filtrar e convidar exatamente os perfis que procura.</p>
                <button type="button" class="btn btn-outline-success">Acesse o Site</button>
            </div>
        </div>
        <div class="card bg-light mb-5" style="width: 22rem;">
            <img src="../../assets/img/network.png" class="card-img-top mt-5 mb-5" alt="...">
            <div class="card-body">
                <h5 class="card-title">Web Designer</h5>
                <p class="card-text">Na NeWork, você tem autonomia para filtrar e convidar exatamente os perfis que procura.</p>
                <button type="button" class="btn btn-outline-success">Acesse o Site</button>
            </div>
        </div>
    </div>
</div>
<style>

    hr{
        width: 40%;
        border: none;
        border: 1px solid orange;
    }
</style>